<div class="result container">

    <h1 class="title">Sounds this is the perfect movie for you today!</h1>

    <div class="movie">
        <div class="poster">
            <img [src]="movie.imagePath" />
        </div>
        <div class="details">
            <h1>{{movie.title}} ({{movie.year}})</h1>
            <div class="reload">
                <a href="#" (click)="refreshMovie()"> 🤷‍ Nah not this</a>
            </div>
            <div>
                <button *ngIf="!!movie.trailer" class="btn btn-danger" (click)="openTrailer()" style="margin-right: 6px">Trailer</button>
                <button class="btn btn-danger" (click)="googleSearch()" style="margin-right: 6px">Google</button>
                <button class="btn btn-warning" (click)="goBack()">Go back</button>
            </div>
        </div>
    </div>

</div>